body{
    font-family: Ubuntu;
    background: url("../../static/img/1.jpg");
    background-size: cover;
}
h1, h2{
    color: teal;
    text-shadow: -2px 2px 5px #000;
}
a, a:link{
    color: burlywood;
    text-shadow: -2px 2px 5px #000;
    font-size: 1.5em;
    text-decoration: none;
}
h1, h2{
    font-family: "Ubuntu";
    margin: auto auto;
}
h1{
    margin-bottom: 0.5em;
    font-size: 4em;
    text-align: center;
}
h2{
    font-size: 2em;
    margin-left: 40px;
    border-bottom: 3px dotted #000;
}

.page{
    position:static;
    color: #000000;
    margin: 4em auto;
    width: 45em;
    padding: 0.8em;
}
dl{
    width: 25em;
    font-size: 15px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.entries{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.entries li{
    margin: 0.8em 1.2em;
}
dd{
    font-size: 11pt;
}
.entries li h2{
    margin-left: -1em;
}
.add_entry{
    font-size: 0.5em;
    border-bottom: 1px solid #ccc;
}
.add_entry dl{
    font-weight: bold;
}
.metanav{
    text-align: right;
    font-size: 0.9em;
    padding: 0.3em;
    margin-bottom: 1em;
}
.flash {
    position: relative;
    margin-bottom: 0.5em;
    background: rgba(255,0,0,0.3);
    font-size: 10pt;
    color: #000000;
    padding: 0.8em;
    border: 1px solid red;
}
.error{
    background: #f0d6d6;
    padding: 0.5em;
}
