<!doctype html>

<div align="right" style="font-size: 15px">
    {% if "name" in session %}
        you logged in as {{ session['name'] }}. <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('hello') }}">Login</a>
    {% endif %}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p align="center" style="color:red">{{ message }} or <a href="{{ url_for('hello_world') }}">click here</a> to go to main page.</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<style type="text/css">
        body{
            background-image: url('../static/img/back.png');
            background-size: cover;
            color: white;
            text-shadow: darkslategrey;
            font: Consolas;
        }
       a{
           text-decoration: none;
           color: white;
       }
        h2{
            margin-top:20%;
            font-size: 60px;
            color: burlywood;
            font:monospace;
            text-shadow: black;
            text-align: center;
        }
    </style>